<div *ngIf="!populated" class="h-100 d-flex justify-content-center align-items-center">
		<div class="spinner-border text-primary" style="width: 6rem; height: 6rem;" role="status">
			<span class="sr-only"></span>
		</div>
	</div>
	
<div  *ngIf="populated"
			class="card-group"
			infiniteScroll
			[infiniteScrollDistance]="2"
			[infiniteScrollThrottle]="50"
			(scrolled)="onScroll()"
			[scrollWindow]="true">
		<div *ngFor="let article of articles">
			<div class="card text-dark d-block m-3">
				<div class="card-body">
					<h5 class="card-title">{{article.name}}</h5>
					<p class="card-text">
						{{article.content}}
					</p>
				</div>
			</div>
		</div>
	</div>