<!--<table bind-bgColor="tableBgColor" [style.color]="tableStyleFontColor" [class.tableBorder]="true">-->
<!--<table [ngStyle]="{color:tableStyleFontColor,'background-color':tableBgColor}" >-->
<!--<table [ngClass]="{tableBorder:true,tableBgColor:true}" >
  <thead>
      <tr>
          <th [attr.colspan]="tableColsSpan">Customer Details</th>
      </tr>
      <tr>
        <th>Id</th><th>Name</th><th>Email</th><th>DOB</th><th>Gender</th><th>Salary</th><th>Discount</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let cust of custList">
         <!-- <span *ngIf="cust.custName==username" >

            <td>{{cust.custId}}</td>
            <!--<td>{{cust.custName | uppercase | slice:-4}}</td>-->
            <!--<td>{{cust.custName | salutation : cust.gender}}</td>
            <td>{{cust.emailId | lowercase}}</td>
            
            
            <td>{{cust.dob | date :'fullTime' }}-
              <div [ngSwitch]="cust.dob.substring(0,2)">
                  <span *ngSwitchCase="10">Oct</span>
                  <span *ngSwitchCase="11">Nov</span>
                  <span *ngSwitchCase="12">Dec</span>
                  <span *ngSwitchDefault>X</span>
              </div>

            </td>
            <td>
                {{cust.gender}}
            </td>
            <td>
                {{cust.salary | currency :'USD':'code':'6.1-2'}}
            </td>
            <td>
                {{cust.discount | percent}}
            </td>
            <td>
                <button class="btn btn-primary" (click)="methodForSendingDataToParent(cust)">Send Cust Obj to Parent</button>
            </td>
          <!--</span>-->
      <!--</tr>
    </tbody>
</table>-->
<!--<button type=button on-click="changeCustName()">Change Customer Name</button>-->
<!--<input type=text [(ngModel)]="username">
{{username}}
{{ {custId:1111,custName:"John"} | json}}

{{childCustName}}
-->
<!--<div class="container">
<form #custForm="ngForm" (ngSubmit)="flag=true">
    <div class="form-group">
        <label> Cust Id:</label>
        <input type=text required minlength=4 class="form-control" max=999 name="custid" id="custId" [(ngModel)]="custIdForm" #custId1=ngModel
           >
    </div>
    <div *ngIf=custId1.invalid>
        Customer Id feild is Mandatory!
    </div>
    <div *ngIf=custId1.dirty>
        Customer Id feild is Dirtied!
    </div>
    <div *ngIf=custId1.touched>
        Customer Id feild is Touched!
    </div>
    
    <div class="form-group">
        <label> Cust Name:</label>
        <input type="text" class="form-control" name="custName" id="custName" [(ngModel)]="custNameForm" #custName=ngModel>
    </div>

   <div class="form-group">
        <label> Email Id:</label>
        <input type="email"  required class="form-control" name="emailId" id="emailId" [(ngModel)]="emailIdForm" #emailId=ngModel>
    </div>

   <div class="form-group">
        <label> DOB:</label>
        <input type="date" class="form-control" name="dob" id="dob" [(ngModel)]="dobForm" #dob=ngModel>
    </div>
    <div class="form-group">
        <button type=submit class="btn btn-primary">Submit</button>
    </div>


</form>

</div>

<div *ngIf="flag">
    <div class="form-group">
        <label> Cust Id:</label> {{custIdForm}}
       
    </div>

</div>-->

<div class="container" style="text-align:center">

        <div *ngFor="let customers of custListFromService">
                {{customers.name}}
                {{customers.custId}}
                {{customers.emailId}}
                {{customers.dob}}
            </div>

        <div *ngIf="custForm.controls.custId.errors">
                Error in Customer Id feild!
            </div>
            
            <div *ngIf="custForm.controls['custId'].hasError('maxlength')">
                    Max length is not proper!
            </div>
    <form [formGroup]="custForm" (ngSubmit)="flag=true">
        <div class="form-group">
                <label> Cust Id:</label>
                <input  class="form-control"  formControlName="custId" 
                     >
               
        </div>
        <div class="form-group">
                <label> Cust Name:</label>
                <input type="text"  class="form-control"  formControlName="custName"  [placeholder]="isFine?'John':''">
        </div>
        <div *ngIf="custForm.controls.custName.errors && custForm.controls.custName.errors.nameError">
            {{custForm.controls.custName.errors.nameError.errorMessage}}
        </div>
      
        <div class="form-group">
                <label> Email Id:</label>
                <input type="email"  class="form-control" formControlName="emailId">
        </div>
        <div class="form-group">
                <label> DOB:</label>
                <input type="date"  class="form-control" formControlName="dob">
        </div>

        <div class="form-group">
                <label> Address:</label>
                <fieldset formGroupName="address">
                    <input type="text"  class="form-control" formControlName="city">
                    <input type="text"  class="form-control" formControlName="street">
                </fieldset>
        </div>


        <div class="form-group">
                <button type=submit class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>

<div *ngIf="flag">
        <div class="form-group">
            <label> Cust Id:</label> {{custForm.get('custId').value}}
            <label> Cust Id:</label> {{custForm.get('address').get('city').value}}
            {{custForm.controls.custId.errors}}
           
        </div>
    
    </div>
    <div class="container" style="text-align:center">
<button type=button class="btn btn-primary" (click)="getAllCustomer()">GetCustomerDetails</button>
    </div>
<div class="Container">
    Customer Component!
    {{customer | json}}
</div>